li {
  list-style: none;
  font-family: sans-serif;
  font-weight: 14px;
  color: #75757a;
  margin: 0;
  padding: 0;
  line-height: 18px;
}
li::first-letter {
  text-transform: capitalize;
}
#icon {
  width: 85px;
  padding-top: -5px;
  float: left;
}
.weather-wrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}
.weatherApp {
  border: 1px solid #d9d9d9;

  padding: 20px;
  border-radius: 10px;
}
h1 {
  font-family: monospace;
  color: #75757a;
  font-size: 30px;
  margin-bottom: 0;
  opacity: 0.9;
}
ul {
  margin: 0;
  padding: 0;
}

.degrees-container {
  float: left;
  display: inline;
}
.degrees-container strong {
  font-size: 50px;
  font-family: sans-serif;
  color: black;
  line-height: 1;
}
.degrees-container .units {
  position: relative;
  font-size: 12px;
  bottom: 20px;
}
#sky {
}

.weather-prediction {
  margin-top: 20px;
  text-align: center;
  line-height: 3px;
}
.prediction-day {
  font-size: 15px;
  color: #75757a;
  text-align: center;
}
.temp-prediction {
  font-size: 12px;
}
#prediction-img {
  width: 60px;
  display: block;
  margin: 0 auto;
}
.temp-min {
  color: #75757a;
  text-align: center;
}
.temp-max {
  text-align: center;
}
#btn {
  background-color: #7c73e6;
  opacity: 0.6;
  transition: all ease-in-out 200ms;
  border-color: #dad4ec;
}
#btn:hover {
  opacity: 1;
}
#search-input {
  color: #75757a;
  opacity: 0.5;
  font-family: monospace;
}
#day-time {
  opacity: 0.6;
}
#humidity,
#wind,
.extra {
  opacity: 0.7;
}
#degrees {
  opacity: 0.7;
}
.weatherApp {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border-radius: 4px;
}
